header {
    background-color: #A3C7C9;
    text-align: center;
    color: #fff;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    padding: 3rem;
}